# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Reto---GrafComp.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\arijo\OneDrive\Documentos\ITC\5TO SEMESTRE\Sistemas Multiagentes\Reto\Implementación final del reto\Modelación\Reto---GrafComp\.idea\.idea.Reto---GrafComp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
